@model ExpenseDetailViewModel

<strong>Date</strong>
<p>@Model.Date.ToShortDateString()</p>

<strong>Amount</strong>
<p>€ @Model.Amount</p>

<strong>Description</strong>
<p>@Model.Description</p>

<strong>Category</strong>
@Model.Category