@model ExpenseEditViewModel

    <form asp-action="Edit" asp-controller="Expense" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" />
            <span class="text-danger" asp-validation-for="Amount"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" type="date" />
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>

        <div class="form-group">
            <label asp-for="Category"></label>
            <select asp-for="Category" asp-items="@(new SelectList(Model.Categories))">
            </select>
        </div>

        <div>
            @if (!string.IsNullOrEmpty(Model.FilePath))
            {
                <img src="@Model.FilePath" />
            }
            else
            {
                <p>No avatar available</p>
            }
        </div>

        <div class="form-group">
            <label asp-for="File"></label>
            <input asp-for="File" type="file" />
        </div>

        <button class="btn btn-primary" type="submit">Enter</button>
    </form>