@model IEnumerable<ExpenseIndexViewModel>
@inject SignInManager<ExpenseWeb.Domain.ExpenseAppUser> signInManager

@if (Model == null || !Model.Any())
{
    <p style="font-size:large"><em>No expenses available!</em></p>
}
else
{
    <table cellpadding="5">
        <thead>
            <tr>
                <th colspan="4">Expenses</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>
                        <a asp-controller="Expense" asp-action="Detail" asp-route-id="@item.Id">
                            Details
                        </a>

                        <a asp-controller="Expense" asp-action="Edit" asp-route-id="@item.Id">
                            Edit
                        </a>

                        <a asp-controller="Expense" asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (signInManager.IsSignedIn(User))
{
    <a asp-controller="Expense"
       asp-action="Create"
       class="btn btn-primary">Add expense</a>
}