@model IEnumerable<ExpenseIndexViewModel>

@if (Model == null || !Model.Any())
{
    <p style="font-size:large"><em>No expenses available!</em></p>
}
else
{
    <table cellpadding="5">
        <thead>
            <tr>
                <th colspan="3">Expenses</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>
                        <a asp-controller="Expense" asp-action="Detail" asp-route-id="@item.Id">
                            details
                        </a>
                        <a asp-controller="Expense" asp-action="Edit" asp-route-id="@item.Id">
                            edit
                        </a>
                    </td>
                </tr>
            }
        </tbody> 
    </table>
}

<a asp-controller="Expense" 
   asp-action="Create"
   class="btn btn-primary">Add expense</a>